.calculator-container {
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    /* border: 2px solid red; */
    height: 350px;
    width: 180px;
}

.cal-buttons {
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.cal-buttons:hover {
    background-color: yellow;
}